.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  //   background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: 50;
  .title {
    color: var(--color-red);
  }
}
